

// Container
$width-container: 1320px;
$p-container: 30px;

// FONTS
// $font-stack: 'Arial', sans-serif;

// colors

$text-color: #555;
$text-color2: #000;
$nav-color: #fff;
$color-gren: #bac34e;
$hero-fonts: 'Mr Dafoe', cursive;
$dark-gren: #0a472e;

