

// Container
$width-container: 1320px;
$p-container: 30px;


// colors

$text-color: #555;
$text-color2: #000;
$nav-color: #fff;
$color-gren: #bac34e;
$hero-fonts:  "Greatest Richmond";
$dark-gren: #0a472e;

