.mains__page {
    padding: 40px 0;
    margin-bottom: 60px;
}
.mains__title {
    font-size: 28px;
    margin-bottom: 8px;
    color: $dark-gren;
}


@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
    
}