#acide {
    max-width: 1345px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.acide {

    &__box {
        padding-top: 40px;
        border-top: 2px solid #aaa;
    }

    &__list {
        @include between;
        @include list-none;
        padding-bottom: 15px;
        animation: acide-anim 8s ease-in-out 1s infinite;
    }


    &__img {
        max-width: 150px;
        height: 100px;
        opacity: 0.5;
        transition: all 0.4s ease;

        &:hover {
            opacity: 1;
        }
    }

}

// card

.cards {

    .cards__row {
        margin-bottom: 60px;
    }
    .cards__desc {
        padding: 40px 0;
        border: 1px solid #aaa;
        border-radius: 6px;
        display: flex;
        align-items: center;
    }
    .cards__icon {
        height: 122px;
        display: flex;
        align-items: center;
        padding: 0 50px;
        border-right: 1px solid #aaa;
    }
    .cards__info {
        height: 122px;
        padding: 0 15px 0 25px;
    }
    .cards__span {
        font-size: 13px;
        color: #aaa;
        display: block;
        margin-bottom: 10px;
    }
    .cards__title {
        font-size: 12px;
        font-weight: 600;
        color: #000;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .cards__tel {
        margin-bottom: 15px;
    }
    .cards__tel-link {
        font-size: 30px;
        font-weight: 400;
        color: $color-gren;
        line-height: 30px;
        @include link-none;
    
        &:hover {
            color: $color-gren;
        }
    }
    
    .cards__email-link {
        font-size: 14px;
        color: #0a472e;
        @include link-none;
    }

    .cards__text {
        font-size: 14px;
        color: #555;
        line-height: 20px;
    }
    .cards__form {
        position: relative;
    }
    .cards__input {
        height: 38px;
        border: 1px solid #e2e2e2;
        width: 100%;
        border-radius: 50px;
        padding: 0 45px 0 15px;

    }
    .cards__btn {
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        width: 38px;
        height: 38px;
        border: 0;
        padding: 0;
    }
    .fal {
        color: #555;
    }

}



@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }

    #acide {
        width: 100%;
    }

}

@media screen and (max-width: 990px) {
    .container {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }

    #acide {
        width: 100%;
    }

    &__list {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 50px;
    }

    .acide__item:nth-child(1) {
        display: none;
    }

    .acide__item:nth-child(6) {
        display: none;
    }

    .cards__tel-link {
        font-size: 22px !important;
    }

}

@media screen and (max-width: 768px) {
    .acide__list {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .acide__item:nth-child(2) {
        display: none;
    }

    .acide__item:nth-child(5) {
        display: none;
    }

    .cards__desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        padding-bottom: 10px;
        padding-top: 0 !important;
        margin-bottom: 15px;
    }

    .cards__icon {
        padding: 0;
        border-right: none !important;
    }




}

// @keyframes acide-anim{
//     0% {
//         transform: translate3d(0px, 0px, 0px);
//     }
   
//     100%{
//         transform: translate3d(-1230px, 0px, 0px);
//     }
// }
