
.services {
    width: 1450px;
    margin: 0 auto;
    background-color: #fff;
}


.services {
    padding-bottom: 60px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @include list-none;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #aaa;
    }

    &__item {
        position: relative;
        
        &::before {
            @include before;
            width: 0;
            height: 3px;
            background-color: #0a472e;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: all 0.4s ease;
        }

        &:hover::before{
            width: 100%;
            opacity: 1;
        }
    }

    &__box {
        padding: 60px 15px;

    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__desc {
        max-width: calc(100% - 62px);
        padding-left: 15px;
    }

    &__title {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 1.1;
        color: $dark-gren;
    }

    &__text {
        font-size: 12px;
        color: #555;
        margin-bottom: 0;
        line-height: 18px;
    }

}



@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }

    .services {
        width: 100%;
    }

}




@media screen and (max-width: 990px) {
    .container {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }

    
    .services {
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
    }

    .services__box {
        padding: 20px 50px;

    }


}


@media screen and (max-width: 578px) {

    .services {
        &__list {
            display: flex;
            align-items: center;
            // justify-content: center;
        }
    }
}



